/* Universal Styles */
html {
  font-size: 16px;
  background-color: #d3d3d3;
  color:#696969;
  font-family: Montserrat, Lato, sans-serif;
}



/*Header Styles*/
.pageheader {
  display: flex;
  align-items: center;
  width: 1600;
  height: 4rem;
  justify-content: space-between;
  background-color: #fffff0;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 1.5rem;
}
.logo img {
  height: 4rem;
}
.bold-logo{
  font-weight: bold;
}
.navigation {
  display: flex;
  margin-right:1.5rem;
}
.navigation a {
  text-decoration: none;
  color: #696969;
}
.navigation span{
  display: flex;
  height: 4rem;
  align-items: center;
}
.blue {
  background-color: #48d1cc;
  width: 1rem;
}
.hidden-menu {
  display:none;
}
.nav-link a:hover{
  color:#48d1cc;
}
@media only screen and (max-width: 480px) {
  .logo {
    display: none;
  }
  nav {
    display: none;
  }
  .hidden-menu {
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height: 4rem;
  }
  .hidden-menu img{
    height: 3.5rem;
  }
  .hidden-menu img:hover{
    transition: background-color, 1.5s;
    background-color:#48d1cc;
  }
}


/* Banner Styles*/
.banner-container{
  display:inline-flex;
  align-items: center;
}
.banner-image-container{
  padding: 2rem 1.5rem;
  width:60%;
}
.banner-image-container img{
  width:100%;
}
.banner-text-container{
  width:40%;
}
.info-container{
  display:inline-flex;
  align-items: center;
}
.first h1{
  font-size: 3.5rem;
  font-weight:bold;
}
.first h2 {
  font-size: 1.5rem;
  margin-top:2rem;
  line-height: 2rem;
}
button {
  width: 85%;
  background-color: #313336;
  color:#fffff0;
  padding: .5rem 0;
  margin-top:2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}
button:hover {
  background-color:#48d1cc;
}
.read-link a:hover {
  color:#48d1cc;
}
@media only screen and (max-width: 480px) {
  .banner-image-container {
    display: none;
  }
  .banner-text-container {
    width:100%;
  }
  button {
    width:95%;
    margin: 1.5rem 0;
    background-color: #a9a9a9;
  }

  .first h1{
    font-size: 2.5rem;
    padding: 2rem 0;
    line-height: 3rem;
  }
  .first {
    padding-left: 1rem;
  }
  .first h2 {
    margin: 0;
    font-weight: bold;
  }
}

/* Banner Main Information Styles*/
.main {
  background-color: #fffff0;
  align-items: flex-start;
}
.design {
  border-right: 1px solid #d3d3d3;
  padding-bottom: 0;
}
.design h1 {
  padding: 2rem 0 1.5rem 0;
  font-size: 2.5rem;
  font-weight:bold;
}
.design h2 {
  line-height: 1.5rem;
}
.design h3 {
  margin: 2rem 0 2rem 0;
  font-weight: bold;
}
.info-container {
  padding: 1rem;

}
.info-container img {
  width: 35%;
  padding-right: 1rem;
}
.info-text {
  width: 65%;
}
.info-text h1 {
  font-size: 1.5rem;
  font-weight:bold;
}
.info-text h2{
  padding: .5rem 0;
  line-height: 1.5rem;
}
.read-link a {
  text-decoration: none;
  color:#4169e1;
}
.guest {
  background-color: #d3d3d3;
}
.date {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 0.5rem;
  width:100%;
}
.campus {
  border-top: 1px solid #d3d3d3;
}
.second {
  margin-top:1rem;
}
.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .laptop {
    display:none;
  }
  .mobile {
    display: block;
  }
  .info-container {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0 1rem 4rem 1rem;
  }
  .info-container img{
    width: 100%;
  }
  .info-text {
    padding: 1rem 0 0 1rem;
  }
  .guest {
    background-color: #fffff0;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 2rem;
  }
  .date, .campus {
    border-style: none;
  }
}

/*Course Styles*/
.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
/*  border: 1px solid black;*/
}
.courses {
/*  border: 1px solid black;*/
  display: inline-flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
  margin: 2rem 4.5rem;
  width:60rem;
}
.offered-courses {
/*  border: 1px solid black; */
  background-color: #fffff0;
  width:18.67rem;
  height:auto;
}
.top {
  margin-bottom: 2rem;
}
.offered-courses img {
  height: auto;
  width: 100%;
}
.title h1{
  font-size: 3rem;
  font-weight:bold;
  padding-top: 2rem;
}
.course-text{
  padding-left:1rem;
}
.course-text h1{
  font-size: 1.25rem;
  font-weight:bold;
  padding-top: 1rem;
}
.course-text .define {
  padding: 0.5rem 0;
}
.curriculum {
padding-bottom:1.5rem;
line-height: 1.5rem;
}
.courses-mobile {
  display: none;
}
@media only screen and (max-width: 480px) {
  .courses {
    display: none;
  }
  .courses-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;

    border-bottom: 1px solid #d3d3d3;
  }
  .mobile-version {
    background-color: #d3d3d3;
    margin:0 1rem 0.5rem 1rem;
    width: auto;
  }
  .learning {
    background-color: #fffff0;
  }
  .mobile-version h2 {
    padding: 1rem 0 1.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
  }
}


/* Thesis Styles*/

.heading {
  font-size: 3rem;
  font-weight:bold;
  padding-top: 2rem;
  background-color: #fffff0;
  text-align: center;
}
.thesis {
  align-items:flex-start;
  background-color: #fffff0;
}
video {
  width:100%;
}
.video {
  padding-bottom: 0;
}
.video h1 {
  font-size: 2.25rem;
  font-weight: bold;
  padding-top: 1.5rem;
}
.video h2 {
  padding:.5rem 0 2rem 0;
  line-height: 1.5rem;
}
.third {
  margin-top: 2rem;
}
.fisma {
  background-color: #d3d3d3;
}
.banner-video-mobile {
  display:none;
}
@media only screen and (max-width: 480px) {
  .thesis {
    display: none;
  }
  .banner-video-mobile {
    display:block;
    width: 100%;
    background-color: #fffff0;
  }
  .heading {
    padding-bottom: 1rem;
  }
}

/* Footer Styles*/
footer {
  display: inline-flex;
  background-color: #fffff0;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #d3d3d3;
  height: auto;
}
footer .text {
  margin: 1rem 1.5rem 0 1.5rem;
}
.text span a{
  text-decoration: none;
  color:#696969;
}
.policy{
  padding-left: 1rem;
}
.right a:hover {
  color:#48d1cc;
}
@media only screen and (max-width: 480px) {
  .right {
    display: none;
  }
  footer {
    border-top-style: none;
  }
  footer .text {
    padding: 1rem 0 1rem 0;
    margin-top: 1.5rem;
  }
}
